<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
    <userSettings>
        <MySettings>
            <setting name="FileExplorerDir" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="CurrentProjDir" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="OpenFileDir" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ShowOutputWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjExplorerRight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TempDir" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="FormsDir" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ToEmail" serializeAs="String">
                <value>&lt;email id&gt;</value>
            </setting>
            <setting name="ImpexDir" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="FormUserName" serializeAs="String">
                <value>Vijay Sridhara</value>
            </setting>
            <setting name="ShowFileExplorer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultProjectFile" serializeAs="String">
                <value>None</value>
            </setting>
        </MySettings>
    </userSettings>
</configuration>
